<h1 class="mt3">Pipes <small>Angular</small></h1>
<hr/>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>uppercase</td>
                    <td>{{ nombre | capitalizado:true }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>lowercase</td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice: 3 }}</td>
                </tr>
                <tr>
                    <td>{{ nombre }}</td>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice: 0:3 }}</td>
                </tr>
                <tr>
                    <td>{{ arreglo }}</td>
                    <td>slice:1:5</td>
                    <td>{{ arreglo | slice: 1:5 }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number:'1.0-0'</td>
                    <td>{{ PI | number: "1.0-0" }}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td>number:'.0-2'</td>
                    <td>{{ PI | number: ".0-2" }}</td>
                </tr>
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>{{ porcentaje }}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{ porcentaje | percent: "2.2-2" }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency:'PEN'</td>
                    <td>{{ salario | currency: "PEN" }}</td>
                </tr>
                <tr>
                    <td>{{ salario }}</td>
                    <td>currency:'PEN' :symbol:'.0-0''</td>
                    <td>{{ salario | currency: 'PEN':'symbol':".0-0" }}</td>
                </tr>
                <tr>
                    <td>{{ valorPromesa }}</td>
                    <td>async == esperar a q llege ...</td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: "short" </td>
                    <td>{{ fecha | date: "short" }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td> date: "medium"</td>
                    <td>{{ fecha | date: "medium" }}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <h4>Slice 1:4</h4>
            <ul class="list-group">
                <li *ngFor="let item of arreglo | slice: 5:20" class="list-group-item">
                    {{ item }}
                </li>
            </ul>
        </table>
        <hr />
        <hr />
        <h3>{{ "json" | uppercase }}</h3>
        <hr />
        <div class="row mb-5">
            {{ heroe | json }}
        </div>
    </div>
</div>